<div class="container my-5">
    <h1 class="mb-3">Yeni Kişi Ekle</h1>

    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="addEmployee()">
                <div class="mb-3">
                  <label for="İsim" class="form-label">İsim</label>
                  <input type="text" class="form-control" id="İsim"  
                  name="İsim" [(ngModel)]="addEmployeeRequest.name">
                </div>
                <div class="mb-3">
                    <label for="Soy İsim" class="form-label">Soy İsim</label>
                    <input type="text" class="form-control" id="Soy İsim"  
                    name="Soy İsim" [(ngModel)]="addEmployeeRequest.surname">
                  </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email"
                    name="email" [(ngModel)]="addEmployeeRequest.email">
                </div>
                <div class="mb-3">
                    <label for="Numara" class="form-label">Numara</label>
                    <input type="number" class="form-control" id="Numara"
                    name="Numara" [(ngModel)]="addEmployeeRequest.phone" >
                </div>
                <div class="mb-3">
                    <label for="Maaş" class="form-label">Maaş</label>
                    <input type="number" class="form-control" id="Maaş" 
                    name="Maaş" [(ngModel)]="addEmployeeRequest.salary">
                </div>
                <div class="mb-3">
                    <label for="Çalıştığı Pozisyon" class="form-label">Çalıştığı Pozisyon</label>
                    <input type="text" class="form-control" id="Çalıştığı Pozisyon" 
                    name="Çalıştığı Pozisyon" [(ngModel)]="addEmployeeRequest.department">
                </div>
                
                <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>

        </div>

    </div>

    
</div>
